/CensorBadWords.class
/ExtractCapitalized.class
/ExtractCurrency.class
/ExtractDates.class
/ExtractLinks.class
/ExtractMailAddress.class
/ExtractMails.class
/IpAddress.class
/Matcher.class
/ProgrammingLanguages.class
/Repeated.class
/ReplaceSpaces.class
/ValidHexCode.class
/ValidLicencePlateNumber.class
/ValidSSN.class
/ValidVisa.class
/ValidateCreditCard.class
/ValidateUserName.class
